
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<div class="jumbotron">
    <br />

    <table class="table table-sm">
        <tbody>
            <tr>
                <td style="width: 30%">
                    <strong>URL Id:</strong>
                </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td><strong>Long URL:</strong></td>
                <td>
                    <a href="@Model.LongUrl">
                        @Model.LongUrl
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Short URL:</strong>
                </td>
                <td>
                    <a href="@Model.ShortUrl">
                        @Model.ShortUrl
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Status:</strong>
                </td>
                <td>
                    @Model.Status
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Error Message (if any):</strong>
                </td>
                <td>
                    @Model.Message
                </td>
            </tr>
        </tbody>
    </table>
</div>


